<h1> Angular Gridster 2</h1>
<p>
  <a style="font-size: 150%" href="https://tiberiuzuld.github.io/angular-gridster2/" target="_blank">Demo</a>
  <br /> Diese Page enthält Gridster mit der Config, wie sie aktuell im VitomedWeb eingebaut ist. WICHTIG: Styling soll wenn immer
  möglich über die Config (siehe Demo-Link oben) erfolgen. CSS sollte erst zum Einsatz kommen, wenn kein entsprechender Config-Parameter
  vorgesehen ist.
</p>

<label>
  <input type="checkbox" [(ngModel)]="editMode" (click)="toggleEditMode()"> Toggle EditMode
</label>

<gridster [options]="options" class="gridster gridster-workspace">
  <gridster-item [item]="item" *ngFor="let item of widgets; let i = index" class="gridster__item widget">
    <div class="gridster__inner">
      <div class="gridster__element">
        <div class="gridster__header">
          <span class="gridster__title">Panel-Title</span>
          <div class="gridster__panel">
            icons
          </div>
        </div>
        <div class="gridster__content">
          <b>Widget: {{item.name}}</b>
          <div>
            {{item.cols}} Cols x {{item.rows}} Rows
          </div>
          <div>
            Position x, y: {{item.x}}, {{item.y}}
          </div>
        </div>
      </div>

      <div class="gridster__element">
        <div class="gridster__header">
          <span class="gridster__title">Panel-Title</span>
          <div class="gridster__panel">
            icons
          </div>
        </div>
        <div class="gridster__content">
          <b>Widget: {{item.name}}</b>
          <div>
            {{item.cols}} Cols x {{item.rows}} Rows
          </div>
          <div>
            Position x, y: {{item.x}}, {{item.y}}
          </div>
        </div>
      </div>
    </div>
    <div class="gridster__edit">
      <div class="gridster__resize">
        icon
      </div>
    </div>
  </gridster-item>
</gridster>
