<h1> Angular Gridster 2</h1>
<p>
  <a style="font-size: 150%" href="https://tiberiuzuld.github.io/angular-gridster2/" target="_blank">Demo</a>
  <br /> Diese Page enthält Gridster mit der Config, wie sie aktuell im VitomedWeb eingebaut ist. WICHTIG: Styling soll wenn immer
  möglich über die Config (siehe Demo-Link oben) erfolgen. CSS sollte erst zum Einsatz kommen, wenn kein entsprechender Config-Parameter
  vorgesehen ist.
</p>

<label>
  <input type="checkbox" [(ngModel)]="editMode" (click)="toggleEditMode()"> Toggle EditMode
</label>
<div class="workspace">
  <gridster [options]="options" class="gridster-workspace">
    <gridster-item [item]="item" *ngFor="let item of widgets; let i = index" class="widget">
      <b>Widget: {{item.name}}</b>
      <div>
        {{item.cols}} Cols x {{item.rows}} Rows
      </div>
      <div>
        Position x, y: {{item.x}}, {{item.y}}
      </div>
    </gridster-item>
  </gridster>
</div>