<h1> Bootstrap Typeahead for Angular</h1>
<p>
  <a href="https://valor-software.com/ngx-bootstrap/#/typeahead" target="_blank">Demo</a>
  <br /> Typeahead wird für die Patienten-Suche (oben rechts) und für Formulare verwendet (Dropdown inkl. neuer Eintrag)
  <br />
  <b>Achtung:</b> In dieser Demo wird aktuell Bootstrap CSS verwendet. https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css
  <br /> Dies muss nicht zwingend so sein. Die Styles für Typeahead können auch selber geschrieben werden.
</p>
<b>Simple</b>
<br />
<input [(ngModel)]="comment" type="text" [typeahead]="list" [typeaheadOptionsLimit]="10" [typeaheadMinLength]="0" autocomplete="off">
<br />
<br />
<b>Patienten-Suche (Vereinfachte Variante)</b> Bitte Zahl eingeben
<br />
<input #searchInput [(ngModel)]="keyword" [typeahead]="person" [typeaheadItemTemplate]="searchItemTemplate" [typeaheadOptionsLimit]="20"
  [typeaheadOptionField]="'id'" [placeholder]="'z.B. Meister, 123456'">

<ng-template #searchItemTemplate let-model="item" let-index="index">
  <div class="divTableCell">{{ model.id }}</div>
  <div class="divTableCell">{{ model.name.family }}</div>
  <div class="divTableCell">{{ model.name.given }}</div>
  <div class="divTableCell">{{ model.gender }}</div>
  <div class="divTableCell">{{ model.age.years }}</div>
  <div class="divTableCell">{{ model.age.years }}</div>
  <div class="divTableCell">{{ model.birthDate | date: 'dd.MM.yyyy' }}</div>
  <div class="divTableCell"><button (click)="openInNewTab(model)">NEUES FENSTER</button></div>
</ng-template>
