<h1> jqxGrid for Angular</h1>
<p>
    <a href="https://www.jqwidgets.com/angular/angular-grid/index.htm" target="_blank">Demo</a>
    <br /> Innerhalb des Grids werden die Selectbox von jqWidgets verwendet (z.B. Spalte Wer). Innerhalb des Outline Forms die
    normalen select Tags.
    <br />
    <b>Info: Pulse wird validiert. Der Pulse darf nicht grösser sein als 200. Dies zeigt ein Beispiel wie die Validierung out-of-the-box
        aussieht.
    </b>
</p>

<jqxGrid #widgetGrid (onCellselect)="gridOnCellSelect($event)" (onCellbeginedit)="gridOnCellbeginEdit($event)" (onCellendedit)="gridOnCellEndEdit($event)"
    (onCellvaluechanged)="gridOnCellvaluechanged($event)" [width]="'100%'" [handlekeyboardnavigation]="handleKeyboardNavigation"
    [source]="dataAdapter" [autoheight]="true" [autorowheight]="true" [columns]="columns" [editable]="true" [selectionmode]="'multiplecellsadvanced'"
    [filterable]="true" [sortable]="true" [enabletooltips]="true" [localization]="localization" [columnsresize]="true">
</jqxGrid>