<h1> jqxGrid Drag & Drop for Angular</h1>
<p>
    <a href="https://www.jqwidgets.com/angular/angular-grid/index.htm" target="_blank">Demo</a>
    <br /> Mit Drag & Drop innerhalb des Grids können Rows verschoben werden.
    <br />

</p>
<div class="drop-target">
    <jqxGrid #widgetGrid (onCellselect)="gridOnCellSelect($event)" (onCellbeginedit)="gridOnCellbeginEdit($event)" (onCellendedit)="gridOnCellEndEdit($event)"
        (onCellvaluechanged)="gridOnCellvaluechanged($event)" [width]="'1100'" [handlekeyboardnavigation]="handleKeyboardNavigation"
        [source]="dataAdapter" [autoheight]="true" [autorowheight]="true" [columns]="columns" [editable]="true" [rendered]="rendered"
        [selectionmode]="'singlecell'" [filterable]="false" [sortable]="false" [enabletooltips]="true" [localization]="localization"
        [columnsresize]="true">
    </jqxGrid>
</div>

<!-- <jqxSortable #mySortable></jqxSortable> -->