<header>
  <nav>
    <!-- <a [routerLink]="['grid']" routerLinkActive="active">Grid</a> -->
    <a [routerLink]="['grid']" routerLinkActive="active">Grid</a>
    <!-- <a [routerLink]="['treegrid']" routerLinkActive="active">Tree Grid</a> -->
    <a [routerLink]="['typeahead']" routerLinkActive="active">Typeahead</a>
    <a [routerLink]="['datetime']" routerLinkActive="active">Datetime</a>
    <a [routerLink]="['wysiwyg']" routerLinkActive="active">Wysiwyg</a>
    <a [routerLink]="['gridster']" routerLinkActive="active">Gridster</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>