<h1> Bootstrap DatePicker for Angular</h1>
<p>
    <a href="https://valor-software.com/ngx-bootstrap/#/datepicker" target="_blank">Demo</a>
    <br /> Dieser Datepicker wird für Inline Grid sowie normale Formulare verwendet.
    <br />
    <b>Achtung:</b> In dieser Demo wird aktuell ein CSS verwendet. https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css
    <br /> Dies muss nicht zwingend so sein.
</p>
<input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false, containerClass: 'datepicker' }">
