body {
  margin: 30px;
}
nav {
  a {
    color: #000000;
    margin-right: 15px;
    text-transform: none;
  }

  a.active,
  a:hover {
    color: #cc2e21;
  }
}
main {
  margin: 20px 0;
}

/* TABLE */
$font-family: 'Open Sans', sans-serif;

.ag-theme-balham {
  .ag-header {
    background-color: #757575 !important;
  }

  .ag-header-cell {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 6px 8px !important;

    &::after {
      display: none;
    }
  }

  .ag-header-cell-menu-button {
    .ag-icon-menu {
      height: 16px !important;
    }
  }

  .ag-header-cell-resize {
    top: 0;

    &::after {
      height: 100% !important;
      margin-top: 0 !important;
      border-right: 1px solid #dadada !important;
    }
  }

  .ag-row {
    font-size: 14px;

    &:nth-child(2n) {
      background-color: #f6f6f6;
    }
  }

  .ag-cell {
    line-height: 1.2 !important;
    padding: 6px 8px !important;
    border-right: 1px solid #dadada !important;

    &-inline-editing {
      height: 33px !important;

      select {
        outline: none;
        border: none !important;
        height: 33px !important;
      }

      input {
        border: none;
        outline: none;
      }
    }

    &-edit-input {
      position: absolute;
      top: 0;
      left: 0;
      padding: 6px 8px;
    }
  }
}

/* DROPDOWN */
.dropdown-menu {
  font-size: 14px;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.dropdown-item {
  line-height: 1.2 !important;
  color: #000000 !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  cursor: pointer;

  &:nth-child(2n) {
    background-color: #f6f6f6;
  }

  &.active {
    background-color: #f6f6f6;
  }
}

.divTableCell {
  display: table-cell;
  padding: 6px 8px !important;
}

/* DATEPICKER */

.datepicker {
  .bs-datepicker-container {
    padding: 0;
  }

  .bs-datepicker-head {
    position: relative;
    height: auto;
    line-height: 1;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    min-width: auto;

    .previous,
    .next,
    .current {
      border-radius: 0;
    }

    .previous,
    .next {
      color: #c6c6c6;
    }

    .previous {
      position: absolute;
      top: 0;
      left: 0;
    }

    .next {
      position: absolute;
      top: 0;
      right: 0;
    }

    .current {
      font-size: 18px;
      color: #000;
      padding: 0;

      & + .current{
        font-size: 14px;
        color: #c6c6c6;
        line-height: 34px;
        margin-left: 4px;
      }

      &:hover {
        // background-color: #c6c6c6;
      }
    }

    &::after {
      display: none;
    }
  }

  .bs-datepicker-body {
    padding: 0;
    min-height: auto;
    min-width: auto;
    border: none;
    border-top: 1px solid #dadada;

    .days {
      th {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        padding: 8px 0;
        text-transform: uppercase;
      }

      td {
        span {
          width: 35px;
          height: 35px;
          line-height: 35px;
          margin: 1px;
          font-size: 14px;
          background-color: #f6f6f6;
          border-radius: 0;
        }

        .is-other-month {
          color: #757575;
          background-color: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}
